{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} 欢迎来到{{ g.user['nickname'] }}的计划 {% endblock %}</h1>
    <br>
    {% for post in posts %}
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon layui-icon-edit"></i> 编辑</span>
        </a>
        发布时间：<span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('detail', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <hr>
    {% endfor %}

{% endblock %}